body { 
    margin: 0;
    font-family: 'Inter';
    height: 100vh;
    margin: 0;
    
  }

section
{
    margin-left: 2em;
    margin-right: 2em;
}

header{
    position: sticky;
    top: 0;
    z-index: 100;
}
  
  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    
  }
  
  .header text {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .header text.logo {
    font-size: 2em;
    font-weight: bold;
  }

  .header text:hover {
    
    color: #f39c12; 
  }

  text:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f39c12; 
    bottom: 0;
    left: 0;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header text {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
  }

  .page
  {
    margin-top: 7em;
    margin-left: 5em;
  }

  h1{
    font-weight: bold;
    font-size: 2em;
    width: 50%;
    color: #f39c12;
  }

  input{
    width: 300px; 
    padding: 20px 40px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;

  }

  button{
    background-color: black;
    color: #fff;
    padding: 20px 40px;
    font-size: 14px; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    
  }

  button:hover {
    background-color: #333; 
  }

  .space
  {
    margin-top: 4em;
    margin-right: 3em;
  }



  .container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1rem;
    margin-top: 4em;
    margin-left: 3em;
    margin-right: 3em;
    margin: 0 auto;
}

.tile:nth-child(1){
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2){
    margin-top: 7em;
    margin-right: 5em;
    grid-column: span 4;
    grid-row: span 2;
}

@media screen and (max-width: 650px){
    .container{
        display: block;
    }
    .tile{
        margin-bottom: 1rem;
    }
}
   
   img {
     max-width: 100%;
     max-height:90%;
   }

.blogs
{
    margin-left: 3em;
    margin-top: 6em;
    margin-right: 3em;
}

.readall
{
    color: black;
    margin-top: 1em; 
    margin-left: 3em;
    font-size: 1em;
    font-weight:800;
}

menu {
    list-style-type: none;
    padding: 0;
    margin-top: 2em; 
    margin-left: 5em;
    
  }

  menu li link{
    cursor: pointer;
    text-decoration: none;
    
  }

  menu li {
    padding: 10px;
    margin: 5px;
    color: #000000;
    font-weight: bold;
    
  }

  /* a {
    color: #000; 
    font-size: 1.5em;
  } */

  .table-class
{   margin-top: 9em;
    background-color: white;
    width: 100%;
    height: 100vh;

}

.table-class-two
{
    margin-top: 4em;
    margin-left: 3em;
    margin-right: 3em;

}


table {
    
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; 
    text-align: center;
  }

  tr:nth-child(odd) {background-color: #ddd;}

  td {
    /* border: 1px solid #ddd; */
    text-align: center;
    /* background-color: #ddd; */
    padding: 1em;
  }


  @media only screen and (max-width: 600px) {
    td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  }

  footer {
    background-color: #f39c12;
    color: #fff;
    padding: 20px;
    text-align: center;
    
  }

  .contact-info {
    margin-top: 10px;
  }

  .contact-info a {
    color: #fff;
    text-decoration: none;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }

  video{
    align-items: center;
      justify-content: center;
      display: block;
      margin: auto;
      height: 100%;
      width:100%;
      margin-top: 3em;
     
  }

  .song-name{
    font-weight: bold;
    font-size: 1em;
  }

  .artist{
    color: #333;
    font-size: 0.8em;
  }

  .orange{
    background-color: #f39c12;
    padding-top: 3em;
    padding-bottom: 4em;

    margin-top: 3em;

  }