.item3
{
    background-color: black;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    text{
        font-size: 20px;
        font-weight: bold;
    }
   
}