.header {
  position: absolute;
  top: 5%;
  left: 70%;
    
    text {
      float: left;
      color: white;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px; 
      line-height: 25px;
      border-radius: 4px;
      font-weight: bold;
    }

  }

  img
  {
    border-radius: 1%;
  }