@import 'header/header.scss';
@import 'layout/layout.scss';
@import 'main/main.scss';
@import 'footer/footer.scss';


body { 
    margin: 0;
    font-family: 'Inter';
    height: 100vh;
    margin: 0;
    
  }